mat-toolbar{
  background-color: #FAFAFA;

}

.nav-item{
  list-style: none;
}

a:hover, a:active{
  color:lightgray;
}

a{
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.clor{
  color:  #00E59B;
}

.logo{
  color: #00E59B;
  padding-right: 20px;
}
.activ{
  color: #7fc4e2;
  padding-bottom: 13px;
}

.menu-button{
  background-color: #7fc4e2;
  color: rgb(250, 250, 250);
}
.rikap{
  font-size: 21px;
  font-weight: bold;
  color: #7fc4e2;
  padding-top: 10px;
  font-family: 'Raleway';
}
