<mat-toolbar fxFlex fxLayoutAlign="space-between center">
  <div fxHide.gt-sm>
    <button (click)="onToggleSidenav()">Menú</button>
  </div>
  <div fxFlex fxLayout="end" fxHide.lt-md>
    <ul fxLayout fxLayoutGap="20px" class="nav-item">
      <li><a class="logo" [routerLink]="['/home']">Logo </a> </li>
      <li> <a [routerLink]="['/home']" routerLinkActive="activ">Home </a> </li>
      <li> <a [routerLink]="['/characters']" routerLinkActive="activ">Characters </a> </li>
      <li> <a [routerLink]="['/social']" routerLinkActive="activ">Social </a> </li>
      <li> <a [routerLink]="['/contacto']" routerLinkActive="activ">Contacto</a> </li>
    </ul>
  </div>

  <div fxLayout >
    <button class="btn btn-default" >
      <img src="./assets/spanish_flag.png" alt="Spanish flag Icon" width="30">
    </button>
    <button class="btn btn-default" >
      <img src="./assets/uk_flag.png" alt="English flag Icon" width="30">
    </button>
    <button class="btn btn-default" >
      <img src="./assets/cat_flag.png" alt="Catalan flag Icon" width="30">
    </button>
  </div>
</mat-toolbar>
