<mat-toolbar fxFlex fxLayoutAlign="space-between center" class="pb-2">

  <div fxHide.gt-sm >
    <button mat-raised-button class="menu-button" (click)="onToggleSidenav()"><mat-icon>reorder</mat-icon></button>
  </div>

  <a fxHide.gt-sm fxLayoutAlign="end center" class="logo" [routerLink]="['/home']"> <img src="../assets/rick-app-logo.png" alt="Logo image" width="35px"> <span class="rikap ml-4">Rikapp</span>  </a>

  <div fxFlex fxLayout="" fxHide.lt-md>
    <ul fxLayoutAlign="start center" fxLayoutGap="20px" class="nav-item pt-4">
      <li><a class="logo" [routerLink]="['/home']"> <img src="../assets/rick-app-logo.png" alt="Logo image" width="35px"> <span class="rikap ml-4 pt-5">Rikapp</span>  </a> </li>
      <li> <a [routerLink]="['/home']" routerLinkActive="activ">Home </a> </li>
      <li> <a [routerLink]="['/characters']" routerLinkActive="activ">Characters </a> </li>
      <li> <a [routerLink]="['/social']" routerLinkActive="activ">Social </a> </li>
      <li> <a [routerLink]="['/contacto']" routerLinkActive="activ">Contacto</a> </li>
    </ul>
  </div>

  <div fxLayoutGap="5px" fxHide.lt-md>
    <button class="btn btn-default" >
      <img src="./assets/spanish_flag.png" alt="Spanish flag Icon" width="30">
    </button>
    <button class="btn btn-default" >
      <img src="./assets/uk_flag.png" alt="English flag Icon" width="30">
    </button>
    <button class="btn btn-default" >
      <img src="./assets/cat_flag.png" alt="Catalan flag Icon" width="30">
    </button>
  </div>

</mat-toolbar>
