<div class="content">

  <div class="containerr col-xl-4 col-md-7 col-sm-12 m-auto">

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="mb-5 pt-5">
      <div  mat-card-avatar class="circular mr-4">
        <img src="./assets/rick-face-wat.png" width="50px" >
      </div>
      <div fxFlex="80" fxLayoutAlign="start">
        <p class="wats">No sé si te interesan los consejos románticos de éste tio Morty, su matrimonio pende de un
          hilo. </p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="mb-5 pr-2">
      <div fxFlex="80" fxLayoutAlign="end">
        <p class="wats">Mi matrimonio está bien, gracias. </p>
      </div>
        <div fxFlex="10" mat-card-avatar class="circular ml-3" >
          <img src="./assets/Jerry_Smith.png" width="60px"  class="rote">
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="mb-5">
      <div  mat-card-avatar class="circular mr-4">
        <img src="./assets/rick-face-wat.png" width="50px">
      </div>
      <div fxFlex="80">
        <p class="wats ">Jerry, es tu casa, siempre que digas algo tendrás la razón pero hasta un ciego vería que Beth
          mira
          mucho la puerta. Sin tener motivos para que me importe lo he notado. </p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px" class="mb-5 pr-2">
      <div fxFlex="80" fxLayoutAlign="end">
        <p class="wats ">¡ Venga ya Rick, no digas eso de mis padres ! </p>
      </div>
        <div fxFlex="10" mat-card-avatar class="circular ml-3" >
          <img src="./assets/morty-wat.png" width="60px">
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="mb-5">
      <div  mat-card-avatar class="circular mr-4">
        <img src="./assets/rick-face-wat.png" width="50px">
      </div>
      <div fxFlex="80">
        <p class="wats ">Escucha Morty, siento ser yo quien te lo diga pero pero lo que la gente llama ‘amor’ es sólo una reacción química
          que impulsa a los animales a aparearse. Te pega fuerte, Morty, y se desvanece lentamente y te deja atrapado en un
          matrimonio fracasado. Yo lo hice. Tus padres lo harán. Rompe el ciclo, Morty. Evoluciona. Céntrate en la ciencia. </p>
      </div>
    </div>
  </div>

</div>
