<div class="contentt">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="cardd">

    <div class="front" *ngIf="!toggleProperty fxHide">
      <ng-content select="front-item"></ng-content>
      <mat-card class="card-ch mat-elevation-24">
        <mat-card-header fxLayoutAlign="start center" class="pl-2">
          <div mat-card-avatar class="avatar">
            <img mat-card-image class="circular" [src]="character.image">
          </div>
          <mat-card-title> {{character.name}} </mat-card-title>
          <mat-card-subtitle> {{character.species}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="character.image" [alt]="character.name">
        <mat-card-actions fxLayoutAlign="end center" fxLayoutGap="10px">
          <button mat-raised-button (click)="toggle()">Travel to another dimension</button> <span mat-card-avatar
            class="portal p-4"></span>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="back" *ngIf="toggleProperty fxHide">
      <ng-content select="back-item"></ng-content>
      <mat-card class="card-ch backend mat-elevation-24">
        <mat-card-header>
          <mat-card-title class="text-upp pb-4 glitName" [attr.title]="character.name">{{character.name}}
          </mat-card-title>
          <mat-card-subtitle class="sbt"> <span class="prevv">Specie: </span>{{character.species}} </mat-card-subtitle>
          <mat-card-subtitle class="sbt"> <span class="prevv">Status: </span>{{character.status}} </mat-card-subtitle>
          <mat-card-subtitle class="sbt"> <span class="prevv">Gender: </span>{{character.gender}} </mat-card-subtitle>
          <mat-card-subtitle class="sbt"> <span class="prevv">Last time seen in: </span>{{character.location.name}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions fxLayoutAlign="end center" fxLayoutGap="10px">
          <button mat-raised-button class="reality" (click)="toggle()">Go back to reality</button> <span mat-card-avatar
            class="portal2"></span>
        </mat-card-actions>
      </mat-card>
    </div>


  </div>
</div>
