<nav class="navbar justify-content-around mt-3 ">

  <mat-form-field>
    <mat-label>Filter by name</mat-label>
    <input matInput type="text" [(ngModel)]="filterSearch">
    <button mat-button *ngIf="filterSearch" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
      <mat-icon color="primary">close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter by species</mat-label>
    <input matInput type="text" [(ngModel)]="filterSpecies">
    <button mat-button *ngIf="filterSpecies" matSuffix mat-icon-button aria-label="Clear" (click)="onSpeciesClear()">
      <mat-icon color="primary">close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter by status</mat-label>
    <input matInput type="text" [(ngModel)]="filterStatus">
    <button mat-button *ngIf="filterStatus" matSuffix mat-icon-button aria-label="Clear" (click)="onStatusClear()">
      <mat-icon color="primary">close</mat-icon>
    </button>
  </mat-form-field>


</nav>


<div class="cont container-fluid matindex  mt-3 m-auto" fxLayout="row wrap" fxLayoutAlign="center center"
  *ngIf="allData; else noCharacters">
  <app-item class=" p-3" *ngFor="let character of allData | characterFilter:filterSearch | characterFilterSpecies:filterSpecies | characterFilterStatus:filterStatus"
    [character]="character">

  </app-item>
</div>

<ng-template #noCharacters>
  <h3>No hay personajes disponibles</h3>
</ng-template>


<mat-paginator [length]="resultsLength" [pageSize]=[20]> </mat-paginator>
